<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head">
    </head>
    <body>
        <nav th:replace="fragments :: navigation"></nav>

        <h1 th:text="${title}"></h1>

        <p th:unless="${cheeses} and ${cheeses.size()}">no cheese :(</p>

        <a href="/cheese/add">Add Cheese</a>

        <ul>
            <table>
                <tr th:each="cheese : ${cheeses}">
                    <td th:text="${cheese.key}">Key</td>
                    <td th:text="${cheese.value}">Value</td>
                </tr>
            </table>
        </ul>


    </body>
</html>