<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container body-content">
<nav th:replace="fragments :: navigation"></nav>
<h1 th:text="${title}"></h1>`
<form method="post">

    <div th:each="cheese : ${cheeses}" class="checkbox">
        <input type="checkbox" name="cheeseIDs" th:value="${cheese.cheeseID}" th:id="${cheese.cheeseID}"/>
        <label th:for="${cheese.cheeseID}" th:text="${cheese.cheeseName}"></label>
        <br />
    </div>

    <input type="submit" value="Remove Cheese" />
</form>
</body>
</html>