<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<h1 th:text="${title}"></h1>
<form method="post">
    <label>I want to remove
        <select name="removeCheese">
            <option th:each="cheese : ${cheeses}" th:text="${cheese.key}">Test Value</option>
        </select>
         from my list of cheeses.
    </label>
    <input type="submit" value="Remove Cheese" />
</form>
</body>
</html>